h1 {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    letter-spacing: 2px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}

#txtArray {
    background-color: white;
}

.msgPrompt {
    color: darkgrey;
    padding-top: 7px;
}

#symbolSearch {
    color: gold;
    background-color: black;
    padding-left: 11px;
    padding-right: 11px;
}

#symbolSort {
    background-color: white;
    padding-left: 11px;
    padding-right: 11px;
}

