<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lab</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h1>Matrix Sort</h1>
<span style="float:left;">
<form action="#" th:action="@{/}" th:object="${matrix}" method="post">
    <p>Matrix:
    <br><textarea rows="20" cols="80" th:field="*{strValue}"></textarea>
    </p>
    <p>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
    </p>
</form>
</span>
</body>
</html>